# Lista de exercicios para Estrutura de dados

## 1. Crie um código para imprimir a soma dos elementos de cada uma das listas contidas na seguinte lista:
```python 
lista_de_listas = [[4,6,5,9], [1,0,7,2], [3,4,1,8]]
```

In [6]:
lista_de_listas = [[4,6,5,9], [1,0,7,2], [3,4,1,8]]
lista_soma = [sum(i) for i in lista_de_listas]
lista_soma

[24, 10, 16]

## 2. Crie um código para gerar uma lista que armazena o terceiro elemento de cada tupla contida na seguinte lista de tuplas:

```python 
lista_de_tuplas = [('Pedro', 1.74, 81), ('Júlia', 1.65, 67), ('Otávio', 1.81, 83)]
```

In [10]:
lista_de_tuplas = [('Pedro', 1.74, 81), ('Júlia', 1.65, 67), ('Otávio', 1.81, 83)]
lista_n = [i[2] for i in lista_de_tuplas]
lista_n

[81, 67, 83]

## 3. A partir da , crie um código para gerar uma lista de tuplas em que cada tupla tenha o primeiro elemento como a posição do nome na lista original e o segundo elemento sendo o próprio nome.

```python 
lista = ['Pedro', 'Júlia', 'Otávio', 'Eduardo']
```

In [51]:
lista = ['Pedro', 'Júlia', 'Otávio', 'Eduardo']
lista_t = [i for i in enumerate(lista)]
lista_t

[(0, 'Pedro'), (1, 'Júlia'), (2, 'Otávio'), (3, 'Eduardo')]

## 4. Crie uma lista usando o list comprehension que armazena somente o valor numérico de cada tupla caso o primeiro elemento seja 'Apartamento', a partir da seguinte lista de tuplas:

```python 
aluguel = [('Apartamento', 1700), ('Apartamento', 1400), ('Casa', 2150), ('Apartamento', 1900), ('Casa', 1100)]
```

In [55]:
aluguel = [('Apartamento', 1700), ('Apartamento', 1400), ('Casa', 2150), ('Apartamento', 1900), ('Casa', 1100)]

aluguel_apartamento = [i[1] for i in aluguel if i[0] == 'Apartamento']
aluguel_apartamento

[1700, 1400, 1900]

## Crie um dicionário usando o dict comprehension em que as chaves estão na lista MESES e os valores estão em DESPESAS .

```python
meses = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez']
despesa = [860, 490, 1010, 780, 900, 630, 590, 770, 620, 560, 840, 360]
```

In [99]:
meses = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez']
despesa = [860, 490, 1010, 780, 900, 630, 590, 770, 620, 560, 840, 360]

# Criar o dicionário usando compreensão de dicionário
dicionario = {mes: desp for mes, desp in zip(meses, despesa)}

print(dicionario)

{'Jan': 860, 'Fev': 490, 'Mar': 1010, 'Abr': 780, 'Mai': 900, 'Jun': 630, 'Jul': 590, 'Ago': 770, 'Set': 620, 'Out': 560, 'Nov': 840, 'Dez': 360}

## 6. Uma loja possui um banco de dados com a informação de venda de cada representante e de cada ano e precisa filtrar somente os dados do ano 2022 com venda maior do que 6000. A loja forneceu uma amostra contendo apenas as colunas com os anos e os valores de venda para que você ajude a realizar a filtragem dos dados a partir de um código:

```python
vendas = [('2023', 4093), ('2021', 4320), ('2021', 5959), ('2022', 8883), ('2023', 9859), ('2022', 5141), ('2022', 7688), ('2022', 9544), ('2023', 4794), ('2021', 7178), ('2022', 3030), ('2021', 7471), ('2022', 4226), ('2022', 8190), ('2021', 9680), ('2022', 5616)]
```

In [121]:
vendas = [('2023', 4093), ('2021', 4320), ('2021', 5959), ('2022', 8883), ('2023', 9859), ('2022', 5141), ('2022', 7688), ('2022', 9544), ('2023', 4794), ('2021', 7178), ('2022', 3030), ('2021', 7471), ('2022', 4226), ('2022', 8190), ('2021', 9680), ('2022', 5616)]

vendas_filtradas = [(ano, valor) for ano, valor in vendas if (ano == "2022") if (valor > 6000)]

vendas_filtradas

[('2022', 8883), ('2022', 7688), ('2022', 9544), ('2022', 8190)]

## 7. Uma clínica analisa dados de pacientes e armazena o valor numérico da glicose em um banco de dados e gostaria de rotular os dados da seguinte maneira:

- Glicose igual ou inferior a 70: 'Hipoglicemia'
- Glicose entre 70 a 99: 'Normal'
- Glicose entre 100 e 125: 'Alterada'
- Glicose superior a 125: 'Diabetes'

A clínica disponibilizou parte dos valores e sua tarefa é criar uma lista de tuplas usando list comprehension contendo o rótulo e o valor da glicemia em cada tupla.

```python
glicemia = [129, 82, 60, 97, 101, 65, 62, 167, 87, 53, 58, 92, 66, 120, 109, 62, 86, 96, 103, 88, 155, 52, 89, 73]
```

In [136]:
glicemia = [129, 82, 60, 97, 101, 65, 62, 167, 87, 53, 58, 92, 66, 120, 109, 62, 86, 96, 103, 88, 155, 52, 89, 73]

resultado = [
    "Hipoglicemia" if valor <= 70 else 
    "Normal" if 70 <= valor <= 99 else
    "Alterada" if 100 <= valor <= 125 else
    "Superior"
    for valor in glicemia
]

print(resultado)

['Superior', 'Normal', 'Hipoglicemia', 'Normal', 'Alterada', 'Hipoglicemia', 'Hipoglicemia', 'Superior', 'Normal', 'Hipoglicemia', 'Hipoglicemia', 'Normal', 'Hipoglicemia', 'Alterada', 'Alterada', 'Hipoglicemia', 'Normal', 'Normal', 'Alterada', 'Normal', 'Superior', 'Hipoglicemia', 'Normal', 'Normal']

## 8. Um e-commerce possui as informações de id de venda, quantidade vendida e preço do produto divididos nas seguintes listas:

```python 
id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
quantidade = [15, 12, 1, 15, 2, 11, 2, 12, 2, 4]
preco = [93.0, 102.0, 18.0, 41.0, 122.0, 14.0, 71.0, 48.0, 14.0, 144.0]
`
O e-commerce precisa estruturar esses dados em uma tabela contendo o valor total da venda, que é obtida multiplicando a quantidade pelo preço unitário. Além disso, a tabela precisa conter um cabeçalho indicando as colunas: 'id', 'quantidade', 'preco' e 'total'.

Crie uma lista de tuplas em que cada tupla tenha id, quantidade, preço e valor total, na qual a primeira tupla é o cabeçalho da tabela.``

In [169]:
id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
quantidade = [15, 12, 1, 15, 2, 11, 2, 12, 2, 4]
preco = [93.0, 102.0, 18.0, 41.0, 122.0, 14.0, 71.0, 48.0, 14.0, 144.0]

total = [q*p for q,p in zip(quantidade,preco)]

tuplas = [(f"id: {i},quantidad: {q}, preço: {p}, total = {t}")for i,q,p,t in zip(id,quantidade,preco,total)]
tuplas

['id: 0,quantidad: 15, preço: 93.0, total = 1395.0',
 'id: 1,quantidad: 12, preço: 102.0, total = 1224.0',
 'id: 2,quantidad: 1, preço: 18.0, total = 18.0',
 'id: 3,quantidad: 15, preço: 41.0, total = 615.0',
 'id: 4,quantidad: 2, preço: 122.0, total = 244.0',
 'id: 5,quantidad: 11, preço: 14.0, total = 154.0',
 'id: 6,quantidad: 2, preço: 71.0, total = 142.0',
 'id: 7,quantidad: 12, preço: 48.0, total = 576.0',
 'id: 8,quantidad: 2, preço: 14.0, total = 28.0',
 'id: 9,quantidad: 4, preço: 144.0, total = 576.0']

In [163]:
print(list(zip(quantidade,preco)))

[(15, 93.0), (12, 102.0), (1, 18.0), (15, 41.0), (2, 122.0), (11, 14.0), (2, 71.0), (12, 48.0), (2, 14.0), (4, 144.0)]

## 9. Uma empresa possui filiais espalhadas nos Estados da região Sudeste do Brasil. Em uma das tabelas de cadastro das filiais há uma coluna contendo a informação de qual é o Estado a que pertence: estados = ['SP', 'ES', 'MG', 'MG', 'SP', 'MG', 'ES', 'ES', 'ES', 'SP', 'SP', 'MG', 'ES', 'SP', 'RJ', 'MG', 'RJ', 'SP', 'MG', 'SP', 'ES', 'SP', 'MG'].

A empresa sempre está abrindo novas filiais, de modo que a tabela está constantemente recebendo novos registros e o gestor gostaria de possuir a informação atualizada da quantidade de filiais em cada Estado.

A partir da coluna com a informação dos Estados, crie um dicionário usando dict comprehension com a chave sendo o nome de um Estado e o valor sendo a contagem de vezes em que o Estado aparece na lista.

In [178]:
estados = ['SP', 'ES', 'MG', 'MG', 'SP', 'MG', 'ES', 'ES', 'ES', 'SP', 
           'SP', 'MG', 'ES', 'SP', 'RJ', 'MG', 'RJ', 'SP', 'MG', 'SP', 
           'ES', 'SP', 'MG']

# Criando uma sublista para cada estado único
agrupados = {estado: len([e for e in estados if e == estado]) for estado in set(estados)}

print(agrupados)

{'ES': 6, 'RJ': 2, 'MG': 7, 'SP': 8}

## 10. Nessa mesma tabela de cadastro de filiais, há uma coluna com as informações da quantidade de pessoas colaboradoras e o(a) gestor(a) gostaria de ter um agrupamento da soma dessas pessoas para cada estado. As informações contidas na tabela são:

funcionarios = [('SP', 16), ('ES', 8), ('MG', 9), ('MG', 6), ('SP', 10), ('MG', 4), ('ES',9), ('ES', 7), ('ES', 12), ('SP', 7), ('SP', 11), ('MG',8), ('ES',8), ('SP',9), ('RJ', 13), ('MG', 5), ('RJ', 9), ('SP', 12), ('MG', 10), ('SP', 7), ('ES', 14), ('SP', 10), ('MG', 12)]
Copiar código
A partir da lista de tuplas, crie um dicionário em que as chaves são os nomes dos Estados únicos e os valores são as listas com o número de colaboradores(as) referentes ao Estado. Crie também um dicionário em que as chaves são os nomes dos Estados e os valores são a soma de colaboradores(as) por Estado.

In [192]:
funcionarios = [('SP', 16), ('ES', 8), ('MG', 9), ('MG', 6), ('SP', 10), ('MG', 4), ('ES',9), ('ES', 7), ('ES', 12), ('SP', 7), ('SP', 11), ('MG',8), ('ES',8), ('SP',9), ('RJ', 13), ('MG', 5), ('RJ', 9), ('SP', 12), ('MG', 10), ('SP', 7), ('ES', 14), ('SP', 10), ('MG', 12)]

separação = {estado: sum([n for estado_t,n in funcionarios if estado == estado_t]) for estado in set(e[0] for e in funcionarios)}
separação

{'ES': 58, 'RJ': 22, 'MG': 54, 'SP': 82}